@use '../vars' as *;

html,
body {
	height: 100%;
}

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
	font-size: $font-size-base;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
