@use '../mixins' as *;

.u-hidden {
	display: none !important;
}

.u-hidden-s {
	@include mq($until: medium) {
		display: none !important;
	}
}

.u-hidden-m-up {
	@include mq($from: medium) {
		display: none !important;
	}
}

.u-hidden-m-down {
	@include mq($until: large) {
		display: none !important;
	}
}

.u-hidden-l-up {
	@include mq($from: large) {
		display: none !important;
	}
}
