@use "sass:map";
@use "sass:math";
@use "../functions" as *;
@use "../variables" as v;
@use "../mixins" as *;

$-xlarge: map.get(v.$breakpoints, xlarge);

@mixin font-style-fluid($name) {
	/* stylelint-disable length-zero-no-unit */
	min-height: 0vw; /* Fix Safari bug with viewport units in calc() */
	/* stylelint-enable length-zero-no-unit */

	@include font-family(
		map-deep-get(v.$font-styles, $name, font-family),
		map-deep-get(v.$font-styles, $name, font-weight),
		map-deep-get(v.$font-styles, $name, font-style)
	);

	line-height: strip-unit(math.div(map-deep-get(v.$font-styles, $name, small-line-height), map-deep-get(v.$font-styles, $name, small-font-size)));

	@include mq($from: medium) {
		line-height: strip-unit(math.div(map-deep-get(v.$font-styles, $name, medium-line-height), map-deep-get(v.$font-styles, $name, medium-font-size)));
	}

	@include mq($from: large) {
		line-height: strip-unit(math.div(map-deep-get(v.$font-styles, $name, large-line-height), map-deep-get(v.$font-styles, $name, large-font-size)));
	}

	@if $-xlarge {
		@include mq($from: xlarge) {
			line-height: strip-unit(math.div(map-deep-get(v.$font-styles, $name, xlarge-line-height), map-deep-get(v.$font-styles, $name, xlarge-font-size)));
		}
	}

	@if map-deep-get(v.$font-styles, $name, text-transform) != none {
		text-transform: map-deep-get(v.$font-styles, $name, text-transform);
	}

	@if map-deep-get(v.$font-styles, $name, letter-spacing) != none {
		letter-spacing: map-deep-get(v.$font-styles, $name, letter-spacing);
	}

	// <= 320 - medium
	@include fluid(
		font-size,
		map-deep-get(v.$font-styles, $name, small-font-size),
		map-deep-get(v.$font-styles, $name, medium-font-size),
		320px,
		map.get(v.$breakpoints, medium),
		true,
		false
	);

	// medium - large
	@if $-xlarge {
		@include fluid(
			font-size,
			map-deep-get(v.$font-styles, $name, medium-font-size),
			map-deep-get(v.$font-styles, $name, large-font-size),
			map.get(v.$breakpoints, medium),
			map.get(v.$breakpoints, large),
			false,
			false
		);
	} @else {
		@include fluid(
			font-size,
			map-deep-get(v.$font-styles, $name, medium-font-size),
			map-deep-get(v.$font-styles, $name, large-font-size),
			map.get(v.$breakpoints, medium),
			map.get(v.$breakpoints, large),
			false,
			true
		);
	}

	@if $-xlarge {
		// large - xlarge
		@include fluid(
			font-size,
			map-deep-get(v.$font-styles, $name, large-font-size),
			map-deep-get(v.$font-styles, $name, xlarge-font-size),
			map.get(v.$breakpoints, large),
			map.get(v.$breakpoints, xlarge),
			false,
			true
		);
	}
}