$font-styles: (
	headline: (
		font-family: "Maison Neue Extended Medium",
		font-weight: 500,
		font-style: normal,
		letter-spacing: 10%,
		text-transform: uppercase,
		xlarge-font-size: 18px,
		xlarge-line-height: 1.35,
		large-font-size: 18px,
		large-line-height: 1.35,
		medium-font-size: 16px,
		medium-line-height: 1.35,
		small-font-size: 12px,
		small-line-height: 1.35
	)
) !default;
