$font-styles: (
	copy: (
		font-family: 'Maison Neue Extended Medium',
		font-weight: 500,
		font-style: normal,
		line-height: 1.35,
		letter-spacing: none,
		text-transform: none,
		font-size-min: 12px,
		font-size-max: 20px
	)
) !default;
